

                <li class="nav-item dropdown">
                  <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
                          Menu
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                              <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Submenu action 2</a></li>
                                  <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                      <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Subsubmenu action 1 3</a></li>
                                      </ul>
                                  </li>
                               </ul>
                          </li>
                      </ul>
                  </li>
